.ingressoCardBox {
    width: 250px;
    height: 330px;
    text-align: center;
    border: 1px solid #2FDD41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
}

.ingressoCardBox p{
    display: block;
    width: 60%;
    font-size: 1.2rem;
    color: #F5F5F5;
    word-break: break-all;
}

.ingressoCardBox h2 {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.1px #2FDD41;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}