:root{
    --standard-width: 100rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Dela Gothic One', sans-serif;
    background-image: url('../../public/img/Fundo.svg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 250%;
}



.background-container {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: var(--standard-width);
    height: 35rem;

}

.relativeBox{
    min-width: 100vw;
    height: 10rem;
    align-self: flex-start;
    margin-left: 50px;
    background-color: red;
    display: flex;
}


.title {
    font-size: 4rem;
    font-weight: 900;
    color: #2FDD41;
    margin-left: 5rem;
    position: relative;
}

.title::before{
    position: absolute;
    content: '---------------';
    left: -22rem;
}

.title::after{
    position: absolute;
    content: '-------------------------------------------------------------';
    right: -15rem;
}


