@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500;700&family=Dela+Gothic+One&family=Josefin+Sans:wght@600&family=Lobster&family=Oooh+Baby&family=Overpass:wght@400;500&family=PT+Sans+Caption&family=Righteous&family=Roboto:wght@400;500;700;900&display=swap');
.footer{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0 2em 0;
    width: 100%;
    background-color: #2FDD41;
    
}

.content{
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.content h3{
    font-size: 1.8125em;
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 0.5em;
}
.content h3:hover{
    cursor:default
}
.content a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    font-family: 'PT Sans Caption', sans-serif;
}
.content ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 10em;
    gap: 0.7em;
}

.footer hr{
    width: 65%;
    color:blueviolet;
    border: 1px solid #990DCE;
    margin: 1.5em 0 1.5em 0;
}

.footerBottom{
    width: 45%;
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.25em;
    width:56%;

}
.footerBottom p:hover{
    cursor:default;
}



@media (max-width:1290px) {

    .content {
        flex-direction: column;
    }
    
    .footerBottom {
        flex-direction: column;
        row-gap: 3rem;
    }
}